<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Getting Started with Typescript, ReactJS, and Webpack</title>

  <link rel="stylesheet" href="index.css">
</head>

<body>
  <div ng-app="App">
    <div ng-controller="SearchFieldCtrl as vm" ng-cloak>
      <form ng-submit="vm.handlerSubmit()">
        <input type="text" ng-model="vm.termToSearch">
      </form>
      <ul ng-if="vm.data.length > 0">
        <li ng-repeat="entry in vm.data track by $index">
          <p>{{entry}}</p>
        </li>
      </ul>
    </div>
  </div>


  <script src="dist/app.bundle.js"></script>
</body>

</html>